<template>
  <BaseForm :name="name">
    <BaseSwitch
      :name="fields.theme.path"
      :ownProps="fields.theme"
      :initialValue="theme"
      @change="handleThemeChange"
    />
    <BaseSelect
      :name="fields.metric.path"
      :ownProps="fields.metric"
      :configuration="configuration"
      :initialValue="metric"
      @change="handleMetricChange"
    />
    <v-layout align-center>
      <BaseField
        :name="fields.location.path"
        :ownProps="fields.location"
        :initialValue="location"
      />
      <BaseCheckbox
        class="ml-5"
        :name="fields.isGPS.path"
        :ownProps="fields.isGPS"
        :initialValue="isGPS"
        @change="handleGPSChange"
      />
    </v-layout>
  </BaseForm>
</template>
<script>
import BaseForm from '@/components/Forms/BaseForm'
import BaseField from '@/components/Forms/BaseField'
import BaseSwitch from '@/components/Forms/BaseSwitch'
import BaseSelect from '@/components/Forms/BaseSelect'
import BaseCheckbox from '@/components/Forms/BaseCheckbox'

import { FORMS } from '@/assets/constants'

import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'HeaderMenuForm',
  components: {
    BaseForm,
    BaseField,
    BaseSwitch,
    BaseSelect,
    BaseCheckbox
  },
  computed: {
    ...mapGetters({
      getNearestGeoPoint: 'user/getNearestGeoPoint'
    }),
    name: () => FORMS.HEADER_MENU_FORM,
    fields: function() {
      return {
        theme: {
          label: 'Theme',
          path: 'theme'
        },
        metric: {
          label: 'Metric',
          path: 'metric'
        },
        location: {
          label: 'Location',
          path: 'location',
          readonly: true
        },
        isGPS: {
          path: 'isGPS',
          hideDetails: true
        }
      }
    },
    configuration: function() {
      return {
        items: Object.values(this.$metrics).map(metric => metric.VALUE)
      }
    },
    theme() {
      return this.$store.state.user.isDarkTheme
    },
    metric() {
      return this.$store.state.user.metric
    },
    location() {
      return this.getNearestGeoPoint && this.getNearestGeoPoint.name
    },
    isGPS() {
      return this.$store.state.user.geo.isGPSAllowed
    }
  },
  methods: {
    ...mapActions({
      setTheme: 'user/setTheme',
      setMetric: 'user/setMetric',
      setGPS: 'user/setGPS'
    }),
    handleThemeChange(value) {
      this.setTheme(value)
    },
    handleMetricChange(value) {
      this.setMetric(value)
    },
    handleGPSChange(value) {
      this.setGPS(value)
    }
  }
}
</script>
