<template>
  <BaseForm :name="name">
    <BaseField :name="fields.email.path" :ownProps="fields.email" />
    <BaseField :name="fields.password.path" :ownProps="fields.password" />
  </BaseForm>
</template>
<script>
import BaseForm from '@/components/Forms/BaseForm'
import BaseField from '@/components/Forms/BaseField'

import { FORMS } from '@/assets/constants'

import Validation from '@/assets/js/validationRules'

export default {
  name: 'LoginForm',
  components: {
    BaseForm,
    BaseField
  },
  computed: {
    name: () => FORMS.LOGIN_FORM,
    fields: function() {
      return {
        email: {
          label: 'Email',
          path: 'email',
          type: 'email',
          rules: [Validation.required('Email')],
          clearable: true
        },
        password: {
          label: 'Password',
          path: 'password',
          type: 'password',
          rules: [Validation.required('Password')]
        }
      }
    }
  }
}
</script>
