<template>
  <BaseForm :name="name">
    <BaseField :name="fields.firstName.path" :ownProps="fields.firstName" />
    <BaseField :name="fields.lastName.path" :ownProps="fields.lastName" />
    <BaseField :name="fields.email.path" :ownProps="fields.email" />
    <BaseField :name="fields.password.path" :ownProps="fields.password" />
    <BaseField
      :name="fields.passwordConfirm.path"
      :ownProps="fields.passwordConfirm"
    />
    <BaseFileUploadField :name="fields.avatar.path" :ownProps="fields.avatar" />
  </BaseForm>
</template>
<script>
import BaseForm from '@/components/Forms/BaseForm'
import BaseField from '@/components/Forms/BaseField'
import BaseFileUploadField from '@/components/Forms/BaseFileUploadField'

import { FORMS } from '@/assets/constants'

import Validation from '@/assets/js/validationRules'

export default {
  name: 'RegistrationForm',
  components: {
    BaseForm,
    BaseField,
    BaseFileUploadField
  },
  computed: {
    name: () => FORMS.REG_FORM_NAME,
    fields: function() {
      return {
        firstName: {
          label: 'First Name',
          path: 'firstName',
          type: 'text',
          rules: [Validation.required('First Name'), Validation.lessThen(10)]
        },
        lastName: {
          label: 'Last Name',
          path: 'lastName',
          type: 'text',
          rules: [Validation.required('Last Name')]
        },
        email: {
          label: 'Email',
          path: 'email',
          type: 'email',
          rules: [Validation.required('Email'), Validation.match(/.+@.+/)],
          clearable: true
        },
        password: {
          label: 'Password',
          path: 'password',
          type: 'password'
        },
        passwordConfirm: {
          label: 'Password Confirm',
          path: 'passwordConfirm',
          type: 'password',
          rules: [
            Validation.fieldMatch(
              this.$store,
              FORMS.REG_FORM_NAME,
              'password',
              'Password'
            )
          ]
        },
        avatar: {
          label: 'Avatar',
          path: 'avatar',
          appendIcon: 'far fa-user-circle'
        }
      }
    }
  }
}
</script>
