.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.truncated-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.centered-text {
  text-align: center;
}

.capitalized-text {
  text-transform: uppercase;
}

.flex-direction-column {
  flex-direction: column;
}