<template>
  <BaseDialog
    title="Tell us who are you"
    v-model="dialog"
    :isSubmitAllowed="isSubmitAllowed"
    :dismissible="false"
    redirectOnClose
    @submit="handleSubmit"
    @reject="handleReject"
  >
    <LoginForm />
  </BaseDialog>
</template>
<script>
import BaseDialog from '@/components/UI/BaseDialog'
import LoginForm from '@/views/Forms/LoginForm'

import { FORMS } from '@/assets/constants'

import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'UserLogin',
  components: {
    BaseDialog,
    LoginForm
  },
  data: () => ({ dialog: false }),
  computed: {
    ...mapGetters('forms', ['getFormValues', 'getFormState']),
    isSubmitAllowed() {
      return this.getFormState(FORMS.LOGIN_FORM)
    }
  },
  methods: {
    ...mapActions({
      loginUser: 'user/loginUser'
    }),
    async handleSubmit() {
      const user = await this.loginUser(this.getFormValues(FORMS.LOGIN_FORM))

      if (user) this.dialog = false
    },
    handleReject() {
      this.dialog = false
    }
  },
  beforeRouteEnter(to, from, next) {
    next(self => {
      self.dialog = true
    })
  }
}
</script>
