<template>
  <BaseDialog
    title="Take some time to make an account"
    v-model="dialog"
    :isSubmitAllowed="isSubmitAllowed"
    :dismissible="false"
    redirectOnClose
    @submit="handleSubmit"
    @reject="handleReject"
  >
    <RegistrationForm />
    <template v-slot:actions>
      <v-btn color="primary" dark to="login">
        <span>Login</span>
        <v-icon dark right>fas fa-sign-in-alt</v-icon>
      </v-btn>
    </template>
  </BaseDialog>
</template>
<script>
import BaseDialog from '@/components/UI/BaseDialog'
import RegistrationForm from '@/views/Forms/RegistrationForm'

import { FORMS } from '@/assets/constants'

import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'UserRegistration',
  components: {
    BaseDialog,
    RegistrationForm
  },
  data: () => ({ dialog: false }),
  computed: {
    ...mapGetters('forms', ['getFormValues', 'getFormState']),
    isSubmitAllowed() {
      return this.getFormState(FORMS.REG_FORM_NAME)
    }
  },
  methods: {
    ...mapActions({
      setNewUser: 'user/setNewUser'
    }),
    async handleSubmit() {
      const except = ['passwordConfirm']
      const user = await this.setNewUser(
        this.getFormValues(FORMS.REG_FORM_NAME, except)
      )

      if (user) this.dialog = false
    },
    handleReject() {
      this.dialog = false
    }
  },
  beforeRouteEnter(to, from, next) {
    next(self => {
      self.dialog = true
    })
  }
}
</script>
