<template>
  <v-card class="WeatherBoard">
    <WBSlider v-model="window" :locations="locations" />
    <v-divider />
    <WBFooter v-model="window" :locations="locations" @add="showForm" />
    <WBForm v-model="form"></WBForm>
  </v-card>
</template>
<script>
import WBForm from './WeatherBoard/WeatherBoardForm'
import WBSlider from './WeatherBoard/WeatherBoardSlider'
import WBFooter from './WeatherBoard/WeatherBoardFooter'

import { mapGetters } from 'vuex'

export default {
  name: 'WeatherBoard',
  components: {
    WBForm,
    WBSlider,
    WBFooter
  },
  data: () => ({ window: 0, form: false }),
  watch: {
    locations(current, previous) {
      if (current.length > previous.length) {
        this.window = current.length - 1
      }
    }
  },
  computed: {
    ...mapGetters({
      locationsPerSubscribtions: 'weather/getLocationsPerSubscribtions',
      gpsLocataion: 'user/getNearestGeoPoint'
    }),
    isGPSAllowed() {
      return this.$store.state.user.geo.isGPSAllowed
    },
    locations({ isGPSAllowed, locationsPerSubscribtions, gpsLocataion }) {
      return isGPSAllowed && gpsLocataion
        ? [gpsLocataion, ...locationsPerSubscribtions]
        : locationsPerSubscribtions
    }
  },
  methods: {
    showForm() {
      this.form = true
    }
  }
}
</script>
<style lang="scss">
.WeatherBoard {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
</style>
