<template>
  <v-container class="WeatherCard" fill-height>
    <Spinner v-if="loading" large />
    <v-layout v-else column class="WeatherCard__body no-scrollbar">
      <CurrentWeatherSection :weather="weather" :metric="metric" />
      <ForecastSection :forecast="forecast" :metric="metric" />
      <DailyForecastSection :forecast="forecast" :metric="metric" />
    </v-layout>
  </v-container>
</template>
<script>
import Spinner from '@/components/UI/BaseSpinner'
import CurrentWeatherSection from './WeatherCard/CurrentWeatherSection'
import ForecastSection from './WeatherCard/ForecastSection'
import DailyForecastSection from './WeatherCard/DailyForecastSection'

import { ENTITIES } from '@/assets/constants'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'WeatherCard',
  components: {
    Spinner,
    CurrentWeatherSection,
    ForecastSection,
    DailyForecastSection
  },
  props: {
    location: {
      type: Object,
      default: () => ({})
    }
  },
  data: () => ({ loading: false }),
  computed: {
    ...mapGetters({
      getEntityFetchedState: 'weather/getEntityFetchedState',
      getEntityLoadingState: 'weather/getEntityLoadingState'
    }),
    weather({ location }) {
      return this.$store.state.weather.entities[ENTITIES.WEATHER][location.id]
    },
    forecast({ location }) {
      return this.$store.state.weather.entities[ENTITIES.FORECAST][location.id]
    },
    metric() {
      return this.$store.state.user.metric
    }
  },
  methods: {
    ...mapActions({
      getWeather: 'weather/getWeatherByLocationCoordinates',
      getForecast: 'weather/getForecastByWeatherId'
    })
  },
  async created() {
    const { id, latitude, longitude } = this.location

    this.loading = true

    await this.getWeather({ id, latitude, longitude })
    await this.getForecast({ weatherId: this.weather.id, locationId: id })

    this.loading = false
  }
}
</script>
<style lang="scss">
.WeatherCard {
  user-select: none;
  &__body {
    overflow-y: auto;
  }
}
</style>
