<template>
  <v-layout>
    <v-flex md6 lg4>
      <WeatherBoard />
    </v-flex>
  </v-layout>
</template>
<script>
import WeatherBoard from '@/components/Content/WeatherBoard'

export default {
  name: 'HomePage',
  components: { WeatherBoard }
}
</script>
