<template>
  <v-scroll-y-transition>
    <v-card v-if="value" class="WeatherBoardForm" flat>
      <v-card-text class="WeatherBoardForm__body">
        <BaseForm :name="name" class="mb-auto">
          <BaseAsyncAutocompleteField
            :name="fields.search.path"
            :ownProps="fields.search"
            :configuration="configuration"
            :search="search"
          />
        </BaseForm>
        <v-card v-if="location" class="WeatherBoardForm__location mb-auto">
          <v-img
            aspect-ratio="1"
            src="placeholder.png"
            class="WeatherBoardForm__image white--text"
          >
            <span class="headline">{{ location.name }}</span>
          </v-img>
        </v-card>
      </v-card-text>
      <v-card-actions class="WeatherBoardForm__footer">
        <v-btn v-if="location" color="success" @click.stop="handleSubmit">
          Add Location
        </v-btn>
        <v-btn color="error" @click.stop="handleReject">
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-scroll-y-transition>
</template>
<script>
import BaseForm from '@/components/Forms/BaseForm'
import BaseAsyncAutocompleteField from '@/components/Forms/BaseAsyncAutocompleteField'

import { getLocationsByNamePrefix } from '@/assets/js/apiCalls'
import { FORMS, ENTITIES } from '@/assets/constants'

import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'WeatherBoardForm',
  props: ['value'],
  components: {
    BaseForm,
    BaseAsyncAutocompleteField
  },
  computed: {
    ...mapGetters({
      getField: 'forms/getField',
      getEntityLoadingState: 'weather/getEntityLoadingState'
    }),
    location() {
      const formName = this.name
      const fieldName = this.fields.search.path
      const field = this.getField(formName, fieldName)

      return field && field.value
    },
    loading({ location }) {
      const type = ENTITIES.LOCATION

      return location && this.getEntityLoadingState(location.id, type)
    },
    name: () => FORMS.ADD_NEW_LOCATION_FORM,
    configuration: () => ({ items: [] }),
    fields: function() {
      return {
        search: {
          id: 'HeaderLocation',
          path: 'search',
          placeholder: 'Start typing to Search',
          itemValue: 'id',
          itemText: this.getOptionLabel,
          returnObject: true,
          hideDetails: true,
          hideNoData: true,
          noFilter: true,
          singleLine: true,
          solo: true,
          autofocus: true,
          chips: true,
          deletableChips: true
        }
      }
    }
  },
  methods: {
    ...mapActions({
      setSubscribtion: 'user/setSubscribtion',
      setFormLoadingState: 'forms/setFormLoadingState'
    }),
    getOptionLabel({ city, countryCode }) {
      return `${city}, ${countryCode}`
    },
    handleReject() {
      this.$emit('input', false)
    },
    handleSubmit() {
      this.location && this.setSubscribtion(this.location.id)
      this.$emit('input', false)
    },
    search: getLocationsByNamePrefix
  }
}
</script>
<style lang="scss">
.WeatherBoardForm {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  &__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 0;
  }
  &__location {
    width: 20em;
    height: 20em;
    border-radius: 50%;
    overflow: hidden;
    align-self: center;
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &__footer {
    justify-content: flex-end;
  }
}
</style>
