<template>
  <section v-if="locations.length" class="WeatherBoardSlider">
    <v-window
      :value="value"
      class="WeatherBoardSlider__body"
      @change="handleChange"
    >
      <v-window-item
        v-for="location in locations"
        :key="location.id"
        class="WeatherBoardSlider__item"
        lazy
      >
        <WeatherCard :location="location" />
      </v-window-item>
    </v-window>
    <v-btn
      class="WeatherBoardSlider__nav WeatherBoardSlider__nav--left"
      v-if="showPrevButton"
      absolute
      flat
      @click="handleChange(value - 1)"
    />
    <v-btn
      class="WeatherBoardSlider__nav WeatherBoardSlider__nav--right"
      v-if="showNextButton"
      absolute
      flat
      @click="handleChange(value + 1)"
    />
  </section>
  <section v-else class="flex d-flex">
    <v-flex align-self-center class="centered-text">
      <article>
        <h2>Nothing here yet...</h2>
        <p>Please add some locations and enjoy our service</p>
        <v-icon v-if="isGPSLoading" fas color="success">
          fa-broadcast-tower
        </v-icon>
      </article>
    </v-flex>
  </section>
</template>
<script>
import WeatherCard from '@/components/Content/WeatherCard'

export default {
  name: 'WeatherBoardSlider',
  components: { WeatherCard },
  props: {
    locations: {
      type: Array,
      default: () => []
    },
    value: {
      type: Number
    }
  },
  computed: {
    isGPSLoading() {
      return this.$store.state.user.geo.isLoading
    },
    showPrevButton({ locations, value }) {
      return !!locations[value - 1]
    },
    showNextButton({ locations, value }) {
      return !!locations[value + 1]
    }
  },
  methods: {
    handleChange(index) {
      this.$emit('input', index)
    }
  }
}
</script>
<style lang="scss">
.WeatherBoardSlider {
  position: relative;
  height: 100%;
  &__body,
  &__item,
  &__nav {
    height: 100%;
  }
  &__body > * {
    height: inherit;
  }
  &__nav {
    width: 1rem;
    top: 0;
    &--left {
      left: 0;
    }
    &--right {
      right: 0;
    }
  }
}
</style>
