<template>
  <footer class="WeatherBoardFooter">
    <v-layout aligh-center>
      <v-flex shrink>
        <v-btn flat icon color="green lighten-2" @click.stop="handleAddIcon">
          <v-icon fas>fa-plus</v-icon>
        </v-btn>
      </v-flex>
      <v-item-group
        :value="value"
        class="WeatherBoardFooter__bullets"
        mandatory
        @change="handleChange"
      >
        <v-item
          v-for="location in locations"
          :key="location.id"
          class="WeatherBoardFooter__bullet"
          active-class="WeatherBoardFooter__bullet--active"
        >
          <div slot-scope="{ active, toggle }">
            <v-btn :input-value="active" depressed icon @click="toggle">
              <v-icon small fas>{{ getBulletIcon(location) }}</v-icon>
            </v-btn>
          </div>
        </v-item>
      </v-item-group>
      <v-flex shrink>
        <v-menu :disabled="!locations.length" absolute top left>
          <template v-slot:activator="{ on }">
            <v-btn flat icon color="primary" v-on="on">
              <v-icon fas>fa-compass</v-icon>
            </v-btn>
          </template>
          <v-list dense>
            <v-list-tile
              v-for="(location, index) in locations"
              :key="location.id"
              @click="handleChange(index)"
            >
              <v-list-tile-content>
                <v-list-tile-title v-text="location.city" />
              </v-list-tile-content>
              <v-list-tile-action>
                <v-btn v-if="location.isGPS" flat icon color="info lighten-2">
                  <v-icon small fas>fa-location-arrow</v-icon>
                </v-btn>
                <v-btn
                  v-else
                  flat
                  icon
                  color="red lighten-2"
                  @click.stop="removeSubscribtion(location.id)"
                >
                  <v-icon small fas>fa-trash</v-icon>
                </v-btn>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
        </v-menu>
      </v-flex>
    </v-layout>
  </footer>
</template>
<script>
import { mapActions } from 'vuex'

export default {
  name: 'WeatherBoardFooter',
  props: {
    locations: {
      type: Array,
      default: () => []
    },
    value: {
      type: Number
    }
  },
  methods: {
    ...mapActions({
      removeSubscribtion: 'user/removeSubscribtion'
    }),
    handleChange(index) {
      this.$emit('input', index)
    },
    handleAddIcon() {
      this.$emit('add')
    },
    getBulletIcon(location) {
      if (location.isGPS) {
        return 'fa-location-arrow'
      } else {
        return 'fa-circle'
      }
    }
  }
}
</script>
<style lang="scss">
.WeatherBoardFooter {
  position: relative;
  &__bullets {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  &__bullet {
    flex: 0;
    transform: scale(0.8);
    color: var(--v-secondary-lighten4);
    &--active {
      transform: scale(1);
      color: var(--v-primary-base);
    }
  }
}
</style>
