<template>
  <v-toolbar-title class="Header__logo">
    <v-img src="/icons/bear.svg" width="30px" height="30px" class="mr-2" />
    Wheather Forecaster
  </v-toolbar-title>
</template>
<script>
export default {
  name: 'HeaderLogo'
}
</script>
