<template>
  <v-toolbar-items>
    <v-btn flat>Link One</v-btn>
    <v-btn flat>Link Two</v-btn>
    <v-btn flat>Link Three</v-btn>
  </v-toolbar-items>
</template>
<script>
export default {
  name: 'HeaderNavMenu'
}
</script>
