<template>
  <div class="Header__usermenu">
    <v-menu
      v-model="menu"
      :close-on-content-click="false"
      :min-width="width"
      nudge-right="16"
      transition="slide-y-transition"
      attach="#hiddenUserMenuAnchor"
      absolute
      left
      bottom
    >
      <template v-slot:activator="{ on }">
        <v-layout>
          <v-flex>
            <v-btn flat icon v-on="on">
              <v-icon>fas fa-ellipsis-v</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </template>
      <v-card>
        <v-layout column pa-4>
          <v-flex v-if="isAuthorized" mb-2>
            <UserInfo />
            <v-divider />
          </v-flex>
          <v-flex>
            <HeaderMenuForm />
          </v-flex>
          <v-flex>
            <UserAuthorization />
          </v-flex>
        </v-layout>
      </v-card>
    </v-menu>
    <div id="hiddenUserMenuAnchor"></div>
  </div>
</template>
<script>
import UserInfo from './UserMenu/UserInfo'
import UserAuthorization from './UserMenu/UserAuthorization'
import HeaderMenuForm from '@/views/Forms/HeaderMenuForm'

export default {
  name: 'UserMenu',
  components: {
    UserInfo,
    UserAuthorization,
    HeaderMenuForm
  },
  data: () => ({ menu: false }),
  computed: {
    isAuthorized() {
      return this.$store.state.user.isLogin
    },
    width() {
      return this.$vuetify.breakpoint.xs ? '100vw' : '350px'
    }
  }
}
</script>
