<template>
  <v-content class="Content">
    <v-container fill-height>
      <router-view />
    </v-container>
  </v-content>
</template>
<script>
export default {
  name: 'BaseContent'
}
</script>
<style lang="scss" scoped>
%background {
  background-image: url('~/background.png');
  background-size: cover;
  filter: blur(10px);
}
.Content {
  position: relative;
  height: 100vh;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @extend %background;
  }
}
</style>
