<template>
  <v-toolbar class="Header" app>
    <HeaderLogo />
    <HeaderNavMenu class="hidden-sm-and-down mr-2" />
    <HeaderUserMenu />
  </v-toolbar>
</template>
<script>
import HeaderLogo from '@/components/Header/Logo'
import HeaderNavMenu from '@/components/Header/NavMenu'
import HeaderUserMenu from '@/components/Header/UserMenu'

export default {
  name: 'BaseHeader',
  components: {
    HeaderLogo,
    HeaderNavMenu,
    HeaderUserMenu
  }
}
</script>
<style lang="scss">
.Header {
  &__logo {
    display: flex;
    min-width: max-content;
    margin-right: auto;
  }
  &__location {
    width: 100%;
    .v-text-field {
      padding: 0;
    }
  }
  &__usermenu {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    #hiddenUserMenuAnchor {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
</style>
