<template>
  <v-footer height="48px" app>
    <v-layout align-center fill-height px-4>
      <v-flex shrink ml-auto>
        <span>&copy; {{ getCurrentYear }}</span>
      </v-flex>
    </v-layout>
    <ErrorNotifier />
  </v-footer>
</template>
<script>
import ErrorNotifier from '@/components/Footer/ErrorNotifier'

export default {
  name: 'BaseFooter',
  components: { ErrorNotifier },
  computed: {
    getCurrentYear() {
      return new Date().getFullYear()
    }
  }
}
</script>
