<template>
  <v-layout class="ErrorNotifier">
    <v-slide-y-reverse-transition>
      <v-flex v-for="error in errors" :key="error.id" class="ErrorNotifierItem">
        <div class="mr-2">
          <v-icon fas>fa-exclamation-triangle</v-icon>
        </div>
        <div class="ErrorNotifierItem__message truncated-text">
          {{ error.message }}
        </div>
        <v-btn icon @click="removeError(error.id)">
          <v-icon small fas>fa-times</v-icon>
        </v-btn>
      </v-flex>
    </v-slide-y-reverse-transition>
  </v-layout>
</template>
<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'ErrorNotifier',
  computed: {
    ...mapState({
      errors: state => state.errors.container
    })
  },
  methods: {
    ...mapActions({
      removeError: 'errors/removeError'
    })
  }
}
</script>
<style lang="scss">
.ErrorNotifier {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ErrorNotifierItem {
  display: flex;
  align-items: center;
  background-color: var(--v-error-base);
  padding: 0 12px;
  &__message {
    flex: 1;
    width: 100%;
  }
}
</style>
