<template>
  <v-layout>
    <v-flex v-if="isAuthorized" shrink ml-auto>
      <v-btn color="error" @click="logoutUser">
        Logout <v-icon right>fas fa-sign-out-alt</v-icon>
      </v-btn>
    </v-flex>
    <v-flex d-flex v-else>
      <v-btn color="success" to="login">
        Login <v-icon right>fas fa-sign-in-alt</v-icon>
      </v-btn>
      <v-btn color="primary" to="registration">
        Sign-up <v-icon right>fas fa-user-check</v-icon>
      </v-btn>
    </v-flex>
  </v-layout>
</template>
<script>
import { mapActions } from 'vuex'

export default {
  name: 'UserAuthorization',
  computed: {
    isAuthorized() {
      return this.$store.state.user.isLogin
    }
  },
  methods: {
    ...mapActions({
      logoutUser: 'user/logoutUser'
    })
  }
}
</script>
