<template>
  <v-layout align-center py-3>
    <v-flex shrink mr-3>
      <BaseAvatar :user="user" />
    </v-flex>
    <v-flex>
      <h3>{{ user.firstName }}</h3>
      <span>Wellcome back</span>
    </v-flex>
    <v-flex shrink>
      <UserConfiguration />
    </v-flex>
  </v-layout>
</template>
<script>
import BaseAvatar from '@/components/UI/BaseAvatar'
import UserConfiguration from './UserConfiguration'

export default {
  name: 'UserInfo',
  components: { BaseAvatar, UserConfiguration },
  computed: {
    user() {
      return this.$store.state.user.userData
    }
  }
}
</script>
