<template>
  <BaseDialog
    title="Change profile information"
    v-model="dialog"
    @reject="handleReject"
  >
    <template v-slot:activator="{ on }">
      <v-btn flat icon v-on="on">
        <v-icon fas>fa-cog</v-icon>
      </v-btn>
    </template>
    <v-list subheader>
      <v-subheader>
        <v-icon color="primary" left far>fa-bookmark</v-icon> Subscribtions
      </v-subheader>
      <v-list-tile v-for="location in locations" :key="location.id">
        <v-list-tile-action>
          <v-btn
            flat
            icon
            color="red lighten-2"
            @click.stop="removeSubscribtion(location.id)"
          >
            <v-icon small fas>fa-trash</v-icon>
          </v-btn>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>{{ location.name }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </BaseDialog>
</template>
<script>
import BaseDialog from '@/components/UI/BaseDialog'

import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'UserConfiguration',
  components: { BaseDialog },
  data: () => ({ dialog: false }),
  computed: {
    ...mapGetters({
      locations: 'weather/getLocationsPerSubscribtions'
    })
  },
  methods: {
    ...mapActions({
      removeSubscribtion: 'user/removeSubscribtion'
    }),
    handleReject() {
      this.dialog = false
    }
  }
}
</script>
