<template>
  <v-app class="Application" :dark="isDarkTheme">
    <BaseHeader />
    <BaseContent />
    <BaseFooter />
  </v-app>
</template>
<script>
import BaseHeader from '@/components/BaseHeader'
import BaseContent from '@/components/BaseContent'
import BaseFooter from '@/components/BaseFooter'

import { mapActions } from 'vuex'
import { xor } from 'lodash'

export default {
  components: {
    BaseHeader,
    BaseContent,
    BaseFooter
  },
  watch: {
    subscribtions(current, previous) {
      const ids = xor(current, previous)

      this.getLocations(ids)
    }
  },
  computed: {
    isDarkTheme() {
      return this.$store.state.user.isDarkTheme
    },
    isAppInitialize() {
      return this.$store.state.system.isAppInitialize
    },
    subscribtions() {
      return this.$store.state.user.subscribtions
    }
  },
  methods: {
    ...mapActions({
      getLocations: 'weather/getLocationsBySubscribtions',
      handleError: 'errors/handleError',
      initialize: 'system/initialize'
    })
  },
  mounted() {
    this.initialize()
  },
  errorCaptured(error) {
    this.handleError(error.message)
  }
}
</script>

<style lang="scss">
@import '@/assets/scss/_utils.scss';

:root {
  font-size: calc(0.875em + 0.25 * (100vw - 80em) / 40);
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include media('<=tablet') {
    font-size: 1.5rem;
  }
}
</style>
