<template>
  <v-flex class="Weather" shrink>
    <v-layout column>
      <v-flex class="Weather__location">
        <h2 class="centered-text capitalized-text">
          {{ weather.name }}
        </h2>
        <span class="Weather__icon" v-for="item in icons" :key="item.id">
          <v-img :src="getWeatherIconPath(item.icon)" :alt="item.description" />
        </span>
      </v-flex>
      <v-flex class="Weather__forecast" my-2>
        <span class="Weather__temperature">
          {{ getLocationCurrentTemperature }}
        </span>
        <span class="Weather__metric">
          {{ $metrics[metric].SYMBOL }}
        </span>
      </v-flex>
      <v-flex class="Weather__attributes">
        <v-layout justify-space-around>
          <v-flex v-for="(attribute, index) in attributes" :key="index" shrink>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <div v-on="on">
                  <v-icon class="mr-2" color="primary">{{
                    attribute.icon
                  }}</v-icon>
                  <span>{{ attribute.value }} {{ attribute.metric }}</span>
                </div>
              </template>
              <span>{{ attribute.title }}</span>
            </v-tooltip>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-flex>
</template>
<script>
import Temperature from '@/assets/js/temperature'
import { formatIconURL } from '@/assets/js/utils'
import { WEATHER_ATTRIBUTES_MAP } from '@/assets/constants'
import pick from 'lodash/pick'

export default {
  name: 'CurrentWeatherSection',
  props: {
    weather: {
      type: Object,
      default: () => ({}),
      required: true
    },
    metric: {
      type: String,
      required: true
    }
  },
  computed: {
    getLocationCurrentTemperature({ forecast, metric }) {
      return Temperature.getTempBasedOnUserMetricConfig(forecast.temp, metric)
    },
    icons({ weather }) {
      return weather.weather || []
    },
    forecast({ weather }) {
      return weather.main || {}
    },
    attributes({ forecast }) {
      const attributes = pick(forecast, ['pressure', 'humidity'])
      return Object.entries(attributes).map(([key, value]) => {
        return {
          ...WEATHER_ATTRIBUTES_MAP[key],
          value
        }
      })
    }
  },
  methods: {
    getWeatherIconPath(icon) {
      return icon && formatIconURL(icon)
    }
  }
}
</script>
<style lang="scss">
.Weather {
  &__location,
  &__forecast {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__temperature {
    font-size: 6em;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    display: block;
    width: 3em;
    height: 3em;
  }
  &__metric {
    align-self: flex-start;
  }
}
</style>
