<template>
  <v-flex grow class="Daily">
    <ul class="Daily__list">
      <li
        class="Daily__item"
        v-for="entry in sortedForecastByDays"
        :key="entry.order"
      >
        <v-layout align-center>
          <v-flex class="Daily__day">{{ entry.title }}</v-flex>
          <v-flex class="Daily__icon" shrink>
            <v-img
              height="100%"
              width="100%"
              aspect-ratio="1"
              :src="getIconSrc(entry.conditions)"
            />
          </v-flex>
          <v-flex d-flex shrink>
            <span class="mr-2">{{
              getFormatedTemperature(entry.max_temp)
            }}</span>
            <span class="Daily__temperature Daily__temperature--min">{{
              getFormatedTemperature(entry.min_temp)
            }}</span>
          </v-flex>
        </v-layout>
      </li>
    </ul>
  </v-flex>
</template>
<script>
import Temperature from '@/assets/js/temperature'
import { formatIconURL } from '@/assets/js/utils'
import moment from 'moment'

export default {
  name: 'WeatherDailyForecastSection',
  props: {
    forecast: {
      type: Object,
      default: () => ({}),
      required: true
    },
    metric: {
      type: String,
      required: true
    }
  },
  computed: {
    forecastList({ forecast }) {
      return forecast.list || []
    },
    forecastByDays({ forecastList }) {
      return forecastList.reduce((map, entry) => {
        const current = moment()
        const date = moment.unix(entry.dt)

        if (date.isSame(current, 'day')) return map

        const dayName = date.format('dddd')

        const day = map[dayName] || {
          title: dayName,
          conditions: new Map(),
          order: Math.abs(current.diff(date, 'days')),
          min_temp: entry.main.temp,
          max_temp: entry.main.temp
        }

        entry.weather.forEach(item => {
          const key = item.icon.slice(0, -1)
          const counter = day.conditions.get(key) || 0

          day.conditions.set(key, counter + 1)
        })

        return {
          ...map,
          [dayName]: {
            ...day,
            min_temp: Math.min(day.min_temp, entry.main.temp),
            max_temp: Math.max(day.max_temp, entry.main.temp)
          }
        }
      }, {})
    },
    sortedForecastByDays({ forecastByDays }) {
      return Object.values(forecastByDays).sort((a, b) => a.order > b.order)
    }
  },
  methods: {
    getFormatedTemperature(temp) {
      return Temperature.getTempBasedOnUserMetricConfig(temp, this.metric)
    },
    getIconSrc(conditions) {
      const maxCounter = Math.max(...conditions.values())
      const iconName = Array.from(conditions).reduce((name, [key, value]) => {
        return value === maxCounter ? key : name
      }, '01')

      return formatIconURL(iconName + 'd')
    }
  }
}
</script>
<style lang="scss">
.Daily {
  &__list {
    padding: 0 0.5em;
    list-style-type: none;
  }
  &__item {
    display: flex;
    padding: 0.5em 0;
    border-bottom: 0.15em solid var(--v-secondary-lighten5);
  }
  &__day {
    max-width: calc(50% - 1em);
  }
  &__icon {
    width: 2em;
    height: 2em;
    margin-right: auto;
  }
  &__temperature {
    &--min {
      color: var(--v-secondary-lighten2);
    }
  }
}
</style>
