<template>
  <v-flex class="Forecast" shrink my-2>
    <ul class="Forecast__list no-scrollbar">
      <li
        class="Forecast__item"
        v-for="entry in forecastListByDays"
        :key="entry.dt"
      >
        <span>{{ getFormatedTime(entry.dt_txt) }}</span>
        <v-img
          width="100%"
          aspect-ratio="1"
          :src="getIcon(entry.weather)"
          :alt="getIconDescription(entry.weather)"
        />
        <span>{{ getFormatedTemperature(entry.main) }}</span>
      </li>
    </ul>
  </v-flex>
</template>
<script>
import moment from 'moment'
import Temperature from '@/assets/js/temperature'
import { formatIconURL } from '@/assets/js/utils'

export default {
  name: 'WeatherForecastSection',
  props: {
    forecast: {
      type: Object,
      default: () => ({}),
      required: true
    },
    metric: {
      type: String,
      required: true
    }
  },
  computed: {
    forecastList({ forecast }) {
      return forecast.list || []
    },
    forecastListByDays({ forecastList }) {
      return forecastList.filter(entry => {
        const current = moment()
        const nextDay = moment().add(1, 'd')
        return moment.unix(entry.dt).isBetween(current, nextDay)
      })
    }
  },
  methods: {
    getFormatedTime(time) {
      return moment(time).format('HH:mm')
    },
    getIcon(weather) {
      const icon = weather[0].icon
      return icon && formatIconURL(icon)
    },
    getIconDescription(weather) {
      return weather[0].description
    },
    getFormatedTemperature(main) {
      return Temperature.getTempBasedOnUserMetricConfig(
        main.temp,
        this.metric,
        true
      )
    }
  }
}
</script>
<style lang="scss">
.Forecast {
  white-space: nowrap;
  border-top: 0.15em solid var(--v-primary-base);
  border-bottom: 0.15em solid var(--v-primary-base);
  &__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
    overflow-x: auto;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
  }
}
</style>
