<template>
  <v-avatar>
    <v-img :src="src" :alt="getAvatarAlt">
      <template v-slot:placeholder>
        <v-layout fill-height align-center justify-center ma-0>
          <v-progress-circular indeterminate color="primary" />
        </v-layout>
      </template>
    </v-img>
  </v-avatar>
</template>
<script>
import { getUrlFromBlob } from '@/assets/js/fileReader'

export default {
  name: 'BaseAvatar',
  props: {
    user: {
      type: Object,
      default: () => ({})
    }
  },
  data: () => ({ src: '' }),
  computed: {
    getAvatarAlt({ user }) {
      return `${user.firstName} ${user.lastName}`
    }
  },
  async created() {
    if (this.user.avatar) {
      this.src = await getUrlFromBlob(this.user.avatar)
    }
  }
}
</script>
