<template>
  <v-dialog
    :value="value"
    :width="getDialogSize"
    :fullscreen="fullscreen"
    :hide-overlay="fullscreen"
    :persistent="!dismissible"
    transition="slide-y-transition"
    scrollable
    lazy
    @input="handleInput"
    @keydown.enter.stop="handleSubmitByEnter"
  >
    <template v-slot:activator="{ on }">
      <slot name="activator" :on="on"></slot>
    </template>
    <v-card class="Dialog">
      <v-card-title class="Dialog__title headline" color="primary">
        <span class="truncated-text">{{ title }}</span>
      </v-card-title>
      <v-divider />
      <v-card-text class="pa-3 no-scrollbar">
        <slot></slot>
      </v-card-text>
      <v-card-actions class="pa-3">
        <slot name="actions"></slot>
        <v-spacer />
        <v-btn
          flat
          v-text="RejectText"
          :color="RejectType"
          :disabled="!isRejectAllowed"
          @click="handleReject"
        />
        <v-btn
          flat
          v-text="SubmitText"
          :color="SubmitType"
          :disabled="!isSubmitAllowed"
          @click="handleSubmit"
        />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import { DIALOG_BOX_SIZES } from '@/assets/constants'

export default {
  name: 'BaseDialog',
  props: {
    value: {
      type: Boolean
    },
    dismissible: {
      type: Boolean,
      default: true
    },
    redirectOnClose: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    },
    SubmitType: {
      type: String,
      default: 'success'
    },
    RejectType: {
      type: String,
      default: 'error'
    },
    SubmitText: {
      type: String,
      default: 'Submit'
    },
    RejectText: {
      type: String,
      default: 'Cancel'
    },
    isRejectAllowed: {
      type: Boolean,
      default: true
    },
    isSubmitAllowed: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    value(open, wasOpen) {
      if (this.redirectOnClose && !open && wasOpen) {
        this.$router.back()
      }
    }
  },
  computed: {
    getDialogSize() {
      const size = this.$vuetify.breakpoint.name

      switch (size) {
        default:
        case 'md':
          return DIALOG_BOX_SIZES.medium
        case 'lg':
          return DIALOG_BOX_SIZES.large
        case 'xl':
          return DIALOG_BOX_SIZES.xLarge
      }
    },
    fullscreen() {
      return this.$vuetify.breakpoint.smAndDown
    }
  },
  methods: {
    handleInput(value) {
      this.$emit('input', value)
    },
    handleReject(event) {
      this.$emit('reject', event)
    },
    handleSubmit(event) {
      this.$emit('submit', event)
    },
    handleSubmitByEnter(event) {
      if (this.isSubmitAllowed) this.handleSubmit(event)
    }
  }
}
</script>
<style lang="scss">
.Dialog {
  &__title {
    background-color: var(--v-primary-base);
    color: var(--v-accent-lighten5);
    span {
      min-width: 0;
    }
  }
}
</style>
