<template>
  <v-flex :class="classnames">
    <div class="BaseSpinner__wrapper">
      <div class="BaseSpinner__bounce BaseSpinner__bounce--left"></div>
      <div class="BaseSpinner__bounce BaseSpinner__bounce--middle"></div>
      <div class="BaseSpinner__bounce BaseSpinner__bounce--right"></div>
    </div>
    <div
      v-if="loadingTitle"
      v-text="loadingTitle"
      class="centered-text truncated-text"
    />
  </v-flex>
</template>
<script>
export default {
  name: 'BaseSpinner',
  props: {
    loadingTitle: {
      type: String
    },
    large: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    classnames({ large }) {
      return ['BaseSpinner', { 'BaseSpinner--large': large }]
    }
  }
}
</script>
<style lang="scss" scoped>
.BaseSpinner {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  &__wrapper {
    display: flex;
  }
  &__bounce {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: var(--v-primary-base);
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    &--left {
      animation-delay: -0.32s;
    }
    &--middle {
      animation-delay: -0.16s;
    }
  }
  &__title {
    width: 100%;
  }
  &--large {
    font-size: 2rem;
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
</style>
