<template>
  <v-form v-model="valid" :name="$attrs.name" :lazyValidation="lazyValidation">
    <v-layout class="BaseForm" column>
      <Spinner v-if="loading" />
      <slot></slot>
    </v-layout>
  </v-form>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'

import Spinner from '@/components/UI/BaseSpinner'

export default {
  name: 'BaseForm',
  components: { Spinner },
  props: {
    lazyValidation: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    ...mapActions({
      mountForm: 'forms/mountForm',
      unmountForm: 'forms/unmountForm',
      setFormState: 'forms/setFormState'
    })
  },
  computed: {
    ...mapGetters({
      getFormState: 'forms/getFormState',
      getFormLoadingState: 'forms/getFormLoadingState'
    }),
    valid: {
      set: function(valid) {
        const { name: formName } = this.$attrs

        this.setFormState({ formName, valid })
      },
      get: function() {
        const { name: formName } = this.$attrs

        return this.getFormState(formName)
      }
    },
    loading() {
      const { name: formName } = this.$attrs

      return this.getFormLoadingState(formName)
    }
  },
  created() {
    this.mountForm(this.$attrs.name)
  },
  destroyed() {
    this.unmountForm(this.$attrs.name)
  }
}
</script>
<style lang="scss">
.BaseForm {
  position: relative;
}
</style>
