<template>
  <v-flex>
    <v-autocomplete
      v-model="value"
      v-bind="ownProps"
      :loading="loading"
      :search-input.sync="searchInput"
      :items="items"
    />
  </v-flex>
</template>
<script>
import debounce from 'lodash/debounce'
import { BaseFormFieldMixin } from './mixins/BaseFormFieldMixin'

export default {
  name: 'BaseAutocompleteField',
  mixins: [BaseFormFieldMixin],
  props: {
    search: {
      type: Function,
      default: () => void 0
    }
  },
  data: () => ({ searchInput: null }),
  computed: {
    items() {
      const field = this.getField(this.$parent.$attrs.name, this.$attrs.name)

      return field && field.configuration.items
    }
  },
  watch: {
    searchInput(value, previous) {
      if (value && value !== previous) {
        this.handleSearchInput(value)
      }
    }
  },
  methods: {
    handleSearchInput: debounce(async function(value) {
      const formName = this.$parent.$attrs.name
      const fieldName = this.$attrs.name

      this.setFieldLoadingState({ formName, fieldName, isLoading: true })

      this.setFieldConfig({
        formName,
        fieldName,
        configuration: {
          items: await this.search(value)
        }
      })

      this.setFieldLoadingState({ formName, fieldName, isLoading: false })
    }, 500)
  }
}
</script>
