<template>
  <v-flex shrink>
    <v-checkbox v-model="value" v-bind="ownProps" />
  </v-flex>
</template>
<script>
import { BaseFormFieldMixin } from './mixins/BaseFormFieldMixin'

export default {
  name: 'BaseCheckbox',
  mixins: [BaseFormFieldMixin]
}
</script>
