<template>
  <v-flex>
    <v-text-field v-model="value" v-bind="ownProps" />
  </v-flex>
</template>
<script>
import { BaseFormFieldMixin } from './mixins/BaseFormFieldMixin'

export default {
  name: 'BaseField',
  mixins: [BaseFormFieldMixin]
}
</script>
