<template>
  <v-flex>
    <v-text-field
      v-bind="ownProps"
      :value="fileName"
      :loading="loading"
      readonly
      @click="handleFileInput"
    />
    <input ref="uploader" type="file" hidden @change="handleFileUpload" />
  </v-flex>
</template>
<script>
import { BaseFormFieldMixin } from './mixins/BaseFormFieldMixin'

export default {
  name: 'BaseFileUploadField',
  mixins: [BaseFormFieldMixin],
  computed: {
    fileName() {
      const field = this.getField(this.$parent.$attrs.name, this.$attrs.name)

      return field && field.configuration.fileName
    }
  },
  methods: {
    handleFileInput() {
      this.$refs.uploader.click()
    },
    handleFileUpload({ target }) {
      const file = target.files[0]
      const reader = new FileReader()

      reader.onloadstart = () => {
        this.setFieldLoadingState({
          formName: this.$parent.$attrs.name,
          fieldName: this.$attrs.name,
          isLoading: true
        })
      }
      reader.onloadend = () => {
        this.setFieldLoadingState({
          formName: this.$parent.$attrs.name,
          fieldName: this.$attrs.name,
          isLoading: false
        })
      }
      reader.onload = ({ target }) => {
        this.url = target.result

        this.setFieldValue({
          formName: this.$parent.$attrs.name,
          fieldName: this.$attrs.name,
          value: file
        })

        this.setFieldConfig({
          formName: this.$parent.$attrs.name,
          fieldName: this.$attrs.name,
          configuration: { fileName: file.name }
        })

        this.$emit('change', file)
      }
      reader.onerror = error => {
        throw error
      }

      file && reader.readAsDataURL(file)
    }
  }
}
</script>
