<template>
  <v-flex>
    <v-select v-model="value" :items="items" v-bind="ownProps" />
  </v-flex>
</template>
<script>
import { BaseFormFieldMixin } from './mixins/BaseFormFieldMixin'

export default {
  name: 'BaseSelect',
  mixins: [BaseFormFieldMixin],
  computed: {
    items() {
      const field = this.getField(this.$parent.$attrs.name, this.$attrs.name)

      return field && field.configuration.items
    }
  }
}
</script>
